<header>
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256">
            <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M0,9v2h50v-2zM0,24v2h50v-2zM0,39v2h50v-2z"></path></g></g>
        </svg>
    </div>
    <div>
        <h1>The House</h1>
    </div>
    <div>
        <div *ngIf="isLoggedIn()"> Welcome, {{ userName }}! 
            <button class="loggout" (click)="logout()">Logout</button> 
        </div> 
        <ng-template #guestLinks> 
            <li><a routerLink="/login">Login</a></li> 
            <li><a routerLink="/cadastro">Cadastro</a></li> 
        </ng-template>
    </div>
</header>

<div>
    <a routerLink="/listacompra">Go Lista Compra</a>
</div>