.content {
    margin: 30px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-1 {
    display: flex;
    width: 90%;
    height: 75vh;
    padding: 20px 0px 20px 0px;
    justify-content: space-around;
    margin: 0px 0px 20px 0px;
}
