<app-navbar></app-navbar>

<div class="content">
   <section class="section-1 bg-secondary rounded">
      <div style="width: 30%; height: 100%; font-size: 14px;">
         <app-calendario></app-calendario>
      </div>

      <div style="width: 50%; display: flex; align-items: center; justify-content: space-between; flex-direction: column;">
         <div class="rounded">
            <app-entretenimentos></app-entretenimentos>
         </div>
         <div class="rounded">
            <app-gastos-charts></app-gastos-charts>
         </div>
      </div>

   </section>

   <section class="section-2">
      <app-gastos-year-time-line class="w-100"></app-gastos-year-time-line>
   </section>
</div>